{#
/**
 * @file
 * Default template for disclaimerconsent.
 *
 * Available variables:
 * - accept : The text used on the accept button.
 * - message : The message shown by the plugin.
 * - decline : The text used on the decline button.(if user decline he/she will be loggedout from the website immediately)
 *
 * @ingroup themeable
 */
#}


<div class="cc_banner cc_container cc_container--open cookie_message">
    
    <p class="cc_message">{{message}} </p><a href="#null" data-cc-event="click:accept" target="_blank" class="cc_btn cc_btn_accept_all">{{ accept }}</a>
	<a href="/user/logout" class="cc_btn cc_btn_accept_all">{{ decline }}</a>
    
</div>